# Python / PyTorch / Caches
__pycache__/
*.py[cod]
*$py.class
.cache/
eurosat-cache/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Datos crudos (¡NO subir 27.000 fotos a GitHub!)
data/raw/
data/raw/*
!data/processed/
data/processed/*.json

# Pesos pesados de Deep Learning (>50MB)
artifacts/models/*.pt
artifacts/models/*.pth

# Frontend / Node / PNPM
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.pnpm-store/
.pnpm-store/
*.log

# Entornos y SO
.env
.env.local
.DS_Store
Thumbs.db
